<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Student Applications</title>
</head>
<body>

  <nav>
    <ul id="links">
      <a href="/students">Home</a>
      <a href="/students/new">Application</a>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>